body {
    background-color: darkblue;
    margin:0;
}
h1 {
    background-color:darkgreen;
    color:white;
    padding: 1opx;
    margin: 20px;
    border-radius: 15px;

}
#highlight{
    background-color:rgb(9, 209, 236);
    display:inline-block;
}
.joseph {
    font: size 25.3em;em;
    max-width:700px;
    margin:o auto;

}
#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav a,
#hero-msg h1, #hero-msg h4,
.button-box,
main section{
    text-align: center;
}
#background{
    height: 725px;
        background-color:rgba(20,30,13, .7);
}
.icon{
    width: 80px;
}
nav a,
.book, .join,
footer a{
    text-decoration: none;
}
footer p {
    font-size: 1.2em;
}    
footer p a:hover {
    text-decoration: underline;
}    
             